[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "windows/third_party/googletest"]
	path = windows/third_party/googletest
	url = https://github.com/google/googletest.git